a{
    text-decoration: none; color: inherit;
}
li{
    list-style: none;
}
input{
    font-family: inherit; font-size: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}
address{
    font-style: normal;
}
[id$='Panel'],
[id$='Pop'],
[class*='TabPage'],
.detailArea >div,
.findContainer1 div,
#emptyBox,
.btnTop{
    display: none;
}
[id$='Panel'].active,
[id$='Pop'].active,
[class*='TabPage'].activated,
.detailArea >div.active,
.btnTop.scroll{
    display: block;
}
.color-beech{background-color: #e3cfb7;}
.color-beige{background-color: #b19678;}
.color-black{background-color: #000;}
.color-blue{background-color: #33579b;}
.color-brown{background-color: #955729;}
.color-gold{background-color: #cec18c;}
.color-gray{background-color: #8f8f8f;}
.color-green{background-color: #739968;}
.color-maple{background-color: #89776e;}
.color-oak{background-color: #c7b29b;}
.color-pink{background-color: #e4bbc1;}
.color-red{background-color: #cc2c1e;}
.color-silver{background-color: #bfb5b3;}
.color-teak{background-color: #a16442;}
.color-walnut{background-color: #6e4a3c;}
.color-white{background-color: #fff;}
.color-yellow{background-color: #ddb202;} 


@media screen and (max-width: 767px){
    header div:nth-child(1) div,
    header div:nth-child(2),
    [class*='Container'],
    [class*='Area'],
    footer div{
        max-width: 600px; margin: 0 auto; padding: 0 3%;
    }
    [class*='Container'],
    [class*='Area']{
        padding-top: 96px;
    } 
    .mainContainer >*,
    [class*='Container']:not(.mainContainer),
    [class*='Area']{
        margin-bottom: 100px;
    }
    [class*='Container']:not(.mainContainer):after{
        content: ''; display: block; clear: both;
    }
    [class*='Container'] >h2{
        font-size: 22px; font-weight: 300;
        text-align: center; margin-bottom: 100px;
        margin-top: 90px; color: #4c4c4c;
    }
    [class*='Container2'] h3{
        font-size: 16px; font-weight: 700;
        padding-bottom: 25px;
    }
    [class*='Container2'] >div:first-of-type{
        margin-bottom: 100px;
    }
    [class*='Container'] form >ul li,
    [class*='Container'] fieldset >ul li{
        font-size: 13px; font-weight: 400; 
        color: #1a1a1a; margin-bottom: 10px;
        border-bottom: 2px solid #ededed;
    }
    [class*='Container'] ul li label{
        border: none; line-height: 30px;
    }
    [class*='Container'] ul li label+input{
        width: 100%; border: none; height: 50px;
        padding: 0 10px; box-sizing: border-box;
    }
    [class*='eContainer2'] >div:first-of-type ul li:first-child{
        border-top: 2px solid #e8e8e8;
    }
    [class*='eContainer2'] >div:first-of-type ul li{
        border-bottom: 2px solid #e8e8e8;
        line-height: 40px;
        display: flex; flex-wrap: wrap;
    }
    [class*='eContainer2']:not(.pageContainer2) >div:first-of-type ul li :first-child{
        flex-basis: 100%; padding-top: 10px;
    }
    [class*='eContainer2']:not(.pageContainer2) >div:first-of-type ul li :nth-child(2){
        flex-basis: 70%;
    }
    [class*='eContainer2']:not(.pageContainer2) >div:first-of-type ul li :last-child{
        flex-basis: 30%; text-align: right;
        padding-bottom: 10px;
    }



    [class^='member ft'] p{
        line-height: 25px; word-break: break-all;
        color: #9a9a9a;
    }
    [class^='member ft'] p:not(:last-child){
        margin-bottom: 30px;
    }
    [class^='member ft'] div:last-of-type{
        display: none;
    }

    [class*='Container2'] >div:last-of-type ul{
        background-color: #fffcf5;
        padding: 10px 5%; text-align: center;
        line-height: 50px;
    }
    [class^='member'] >div:last-of-type ul li:not(:last-child){
        border-bottom: 2px solid #e8e8e8;
    }
    [class^='member'] >div:last-of-type ul li a.active{
        font-weight: 700;
    }
    [class^='order'] >div:last-of-type ul li{
        display: flex; justify-content: space-between;
    }
    [class^='order'] >div:last-of-type ul li:nth-child(2),
    #emptyBox >div:last-of-type ul li:first-child{
        padding-bottom: 15px;
    }
    [class^='order'] >div:last-of-type ul li:last-child{
        padding-top: 15px; border-top: 2px solid #e8e8e8;
    }
    header div:nth-child(1),
    footer{
        background-color: #eee9de;
    }
    


    input[type="checkbox"],
    input[type="radio"]{
        display: none;
    }
    label[for$="Check"],
    label[for$="Radio"]{
        padding: 20px 0 0 40px;
        line-height: 30px; 
    }
    label[for$="Check"]{
        display: block; word-break: break-all; color: #8e8e8e;
        background: url('../images/bull_checkbox_default.png') left 25px no-repeat;
    }
    label[for$="Radio"]{
        display: inline-block;
        background: url('../images/bull_radio_default.png') left 25px no-repeat;;
    }
    label[for$="Radio"]:not(:first-of-type){
        margin-left: 30px;
    }
    input[id$="Check"]:checked+label{
        background-image: url('../images/bull_checkbox_check.png');
    }
    input[id$="Radio"]:checked+label{
        background-image: url('../images/bull_radio_check.png');
    }



    [class$='Btn']{
        display: block; font-size: 12px; font-weight: 400;
        color: #1a1a1a; text-align: center; line-height: 55px;
        background-color: #eee9de;
        transition: background-color 0.75s ease;
    }
    .bBtn{
        border: none; width: 100%; cursor: pointer;
        margin-top: 40px;
    }
    .aBtn span{
        display: block;
    }
    [class^='opt']{
        border: none; background-color: transparent;
        color: #8e8e8e; cursor: pointer; margin-top: 30px;
    }
    .optR{
        float: right;
    }
    .optL{
        float: left;
    }



    .mainContainer .bx-wrapper .bx-pager{
        bottom: -20px;
    }
    .mainContainer .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item{
        width: 33.33%;
    }
    .mainContainer .bx-wrapper .bx-pager.bx-default-pager a{
        background: #eaeaea; width: 100%;
        height: 2px; margin: 0 0 1px;
        border-radius: 0;
    }
    .mainContainer .bx-wrapper .bx-pager.bx-default-pager a.active{
        height: 4px; margin: 0; background: #d1d1d1;
    }
    .mainContainer .bx-wrapper .bx-controls-direction a{
        width: 15px; height: 27px; z-index: 1;
    }
    .mainContainer .bx-wrapper .bx-prev,
    .aboutArea div:last-of-type .bx-wrapper .bx-prev{
        background: url('../images/btn_left_02.png') no-repeat center;
    }
    .mainContainer .bx-wrapper .bx-next,
    .aboutArea div:last-of-type .bx-wrapper .bx-next{
        background: url('../images/btn_right_02.png') no-repeat center;
    }
    .mainContainer >.bx-wrapper .bx-prev,
    .mainContainer .brandSlider .bx-wrapper .bx-prev,
    .mainContainer .figuresSlider .bx-wrapper .bx-prev,
    .aboutArea div:last-of-type .bx-wrapper .bx-prev{
        left: 3%; 
    }
    .mainContainer >.bx-wrapper .bx-next,
    .mainContainer .brandSlider .bx-wrapper .bx-next,
    .mainContainer .figuresSlider .bx-wrapper .bx-next,
    .aboutArea div:last-of-type .bx-wrapper .bx-next{
        right: 3%; 
    }



    .productCard >span,
    .productCardList >li span{
        position: relative;
    }
    .productCard >span img,
    .productCardList >li span img{
        width: 100%;
    }
    .productCard >span:hover:after,
    .productCardList >li span:hover:after{
        content: ''; position: absolute; z-index: 1;
        top: 0; left: 0; width: 100%; height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .brandSlider .productCard >span:hover,
    .bestSlider .productCard >span:hover{
        display: flex; align-items: center;
        justify-content: center;
    }
    .productCard >span a,
    .productCardList >li span a{
        display: none;
    }
    .productCard >span:hover a,
    .productCardList >li span:hover a{
        display: block; z-index: 10;
        position: absolute; text-align: center;
        bottom: calc(50% - 20px); left: calc(50% - 20px);
        background-color: #000; border-radius: 22px;
        font-size: 40px; font-weight: 300; color: #fff;
        width: 40px; height: 40px;
    }
    .productCard >div,
    .productCardList >li div{
        padding: 30px;
    }
    .productCard div dl,
    .productCardList >li div dl{
        margin-bottom: 15px;
        font-size: 15px; font-weight: 400; color: #1a1a1a;
    }
    .productCard div dl dt,
    .productCardList >li div dl dt{
        margin-bottom: 25px;
    }
    .productCard div ul li,
    .productCardList >li div ul li{
        width: 14px; height: 14px; display: inline-block;
        border: 1px solid #e8e8e8; border-radius: 8px;
        text-indent: -9999px;
    }
    .productCard div ul li:not(:first-child),
    .productCardList >li div ul li:not(:first-child){
        margin-left: 5px;
    }
    
    [class*='my']:not(.myMobileContent) .productCard{
        display: flex;
    }
    [class*='my']:not(.myMobileContent) .productCard span{
        flex-basis: 35vw; height: 35vw; flex-shrink: 0;
    }
    [class*='my']:not(.myMobileContent) .productCard >div{
        flex-grow: 1; padding: 0 0 0 30px
    }
    [class*='my']:not(.myMobileContent) .productCard div .countComp{
        max-width: 125px;
    }
    [class*='my']:not(.myMobileContent) .productCard div dl dt{
        line-height: 20px;
    }



    #searchPanel{
        width: 100%; position: fixed; background-color: #fff;
        z-index: 1000; padding-top: 40px;
    }
    #searchPanel:after{
        content: ''; display: block;
        width: 100vw; height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10; position: absolute;
    }
    #searchPanel h2{
        text-indent: -9999px; margin-bottom: 40px;
    }
    #searchPanel h2 input[type='button'],
    [id$='Pop'] >div input[type='button'],
    .mycartContainer2 dl dt input[type='button']{
        background-color: transparent; border: none;
        font-size: 22px; color: inherit; float: right;
    }
    #searchPanel div{
        width: 94%; border-bottom: 2px solid #ededed;
        margin: 0 3% 70px; box-sizing: border-box;
    }
    #searchPanel div form input{
        border: none; height: 50px;
    }
    #searchPanel div form input[type='search']{
        width: 85%; padding: 0 2%;
    }
    #searchPanel div form input[type='submit']{
        width: 10%; text-indent: -9999px;
        background: url('../images/search.png') no-repeat right center;
        margin-left: 1%;
    }



    [id$='Pop']{
        width: 94%;
        z-index: 100; position: fixed;
        left: 3%; top: calc(50% - 90px);
        box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.2);
    }
    [id$='Pop'] >div{
        background-color: #fffcf5;  padding: 50px 30px;
        position: relative;
    }
    [id$='Pop'] >div ul li{
        line-height: 22px;
    }
    [id$='Pop'] >div ul li:first-of-type{
        margin-bottom: 20px;
    }
    [id$='Pop'] >div input[type='button']{
        padding-right: 0;
    }

    
    .countComp{
        position: relative; border: 1px solid #d1d1d1;
        max-width: 150px; line-height: 50px;
        box-sizing: border-box; text-align: center;
    }
    .countComp input[type='button']{
        background-color: transparent; border: none;
        position: absolute; top: 10px; cursor: pointer;
    }
    .countComp input[type='button']:first-of-type{
        left: 20px;
    }
    .countComp input[type='number']{
        font-size: 15px; font-weight: 400; color: #2a2a2a;
        border: none; text-align: center;
    }
    .countComp input[type='button']:last-of-type{
        right: 20px;
    }



    header div:nth-child(1) p.scroll{
        height: 0px; opacity: 0;
    }
    header div:nth-child(1) p{
        transition-property: height, opacity;
        transition-duration: 0.15s, 0.01s;
        transition-timing-function: linear;
    }
    header div:nth-child(2).scroll{
        line-height: 50px;
    }





    header{
        position: fixed; width: 100%; z-index: 100;
        background-color: #fff; border-bottom: 1px solid #e8e8e8;
    }
    header:after{
        content: ''; display: block; clear: both;
    }
    header div:nth-child(1) p{
        text-align: center; height: 35px;
        opacity: 1; line-height: 35px;
        overflow: hidden; white-space: nowrap;
        padding: 0 3%; text-overflow: ellipsis;
    }
    header div:nth-child(2){
        position: relative; line-height: 60px;
    }
    header div:nth-child(2) h1{
        position: absolute; left: 50px;
    }
    header div:nth-child(2) h1 a{
        display: block;
    }
    header div:nth-child(2) h1 a img{
        width: 100%; max-width: 80px; vertical-align: middle;
    }
    header div:nth-child(2) nav{
        float: left;
    }
    header div:nth-child(2) nav input[type="button"]{
        background-color: transparent; border: none;
        cursor: pointer; padding: 0; font-weight: 100;
        font-size: 25px; vertical-align: middle;
    }
    header div:nth-child(2) nav input[type="button"].active{
        position: fixed; top: 30px; left: 80vw;
        z-index: 1; font-size: 22px;
    }
    header div:nth-child(2) nav >ul{
        display: none;
    }
    header div:nth-child(2) nav.active ul{
        display: block; height: 100%; width: 95vw;
        position: fixed; top: 0; left: 0;
        background-color: #fff;
        padding: 90px 30px 0; box-sizing: border-box;
        box-shadow: 2px 2px 25px 510px rgba(0, 0, 0, 0.5);
    }
    header div:nth-child(2) nav >ul >li{
        line-height: 40px; width: 45%; float: left;
    }
    header div:nth-child(2) nav >ul >li:nth-of-type(even){
        color: #fff;
    }
    header div:nth-child(2) nav >ul >li:not(:first-child){
        padding-left: 10%;
    }
    header div:nth-child(2) ul >li b{
        font-weight: 400;
    }
    header div:nth-child(2) nav ul >li a{
        display: block; color: inherit;
    }
    header div:nth-child(2) nav ul li ol{
        padding: 10px;
    }
    header div:nth-child(2) nav ul li ol li{
        text-align: left; line-height: 36px;
    }
    header div:nth-child(2) >ul >*:not(:last-child){
        display: none;
    }
    header div:nth-child(2) nav.active+ul{
        line-height: 60px;
    }
    header div:nth-child(2) nav.active+ul >*:not(:last-child){
        display: block; position: fixed;
        z-index: 1; left: 30px;
    }
    header div:nth-child(2) >ul li:first-child{
        top: 300px;
    }
    header div:nth-child(2) >ul li:nth-child(2){
        top: 340px;
    }
    header div:nth-child(2) >ul li:nth-child(3){
        top: 380px;
    }
    header div:nth-child(2) >ul li:last-child{
        float: right;
        width: 10%; text-align: right;
    }
    header div:nth-child(2) >ul li a{
        color: #5a5a5a; padding: 15px 0;
    }
    header div:nth-child(2) >ul li input[type='button']{
        background-color: transparent; border: none;
        font-size: 20px; color: inherit; cursor: pointer;
        padding: 15px 0;
    }
    /* ? header FIN */

    

    .paging{
        flex: 0 100%; max-width: 320px;
        margin: 0 auto; position: relative;
        clear: both; font-size: 13px; font-weight: 700;
        color: #8e8e8e; padding-top: 70px;
    }
    .paging a{
        padding: 10px; display: block;
    }
    .paging ol li a.active{
        color: #1a1a1a;
    }
    .paging >a{
        position: absolute; top: 70px; 
        color: #1a1a1a; display: none;
    }
    .paging >a.active{
        display: block;
    }
    .paging >a:nth-of-type(1){
        left: 0; letter-spacing: -1px;
    }
    .paging >a:nth-of-type(2){
        left: 40px;
    }
    .paging >a:nth-of-type(3){
        right: 40px;
    }
    .paging >a:nth-of-type(4){
        right: 0; letter-spacing: -1px;
    }
    .paging ol{
        text-align: center;
    }
    .paging ol li{
        display: inline-block;
    }
    /* ?pager FIN */


    .btnTop{
        position: fixed; bottom: 30px; right: 30px;
        background: url('../images/top.png') no-repeat center;
        width: 34px; height: 34px; text-indent: -9999px;
        z-index: 100;
    }

    footer >div{
        padding: 80px 0;
        text-align: center;
    }
    footer >div div h2 img{
        width: 100%; max-width: 80px;
        margin-bottom: 30px;
    }
    footer >div div ul{
        margin-bottom: 35px; text-transform: uppercase;
    }
    footer >div div ul li:not(:last-child){
        margin-bottom: 25px;
    }
    footer >div div ul li a{
        display: block;
    }
    footer >div address{
        color: #1a1a1a;
    }
    footer >div address span{
        display: block;
    }
    footer >div address span:not(:last-child){
        margin-bottom: 10px;
    }
    footer >div address span:last-child{
        padding-top: 20px;
    }
    /* ? footer FIN */

}
/* ? mobile */




















@media screen and (min-width: 768px) and (max-width: 1279px){
    header div:nth-child(1) div,
    header div:nth-child(2),
    .mainContainer,
    [class*='Area'],
    footer div{
        max-width: 1000px; margin: 0 auto; padding: 0 24px;
    }
    [class*='Container'],
    [class*='Area']{
        padding-top: 114px;
    } 
    .mainContainer >*,
    [class*='Area']{
        margin-bottom: 130px;
    }
    [class*='Container']:not(.mainContainer){
        max-width: 700px; margin: 0 auto 130px;
    }
    [class*='Container']:not(.mainContainer):after{
        content: ''; display: block; clear: both;
    }
    [class*='Container'] >h2{
        font-size: 22px; font-weight: 300;
        text-align: center; margin-bottom: 100px;
        margin-top: 90px; color: #4c4c4c;
    }
    [class*='Container2'] h3{
        font-size: 20px; font-weight: 700;
        padding-bottom: 25px;
    }
    [class*='Container2'] >div:first-of-type{
        margin-bottom: 100px;
    }
    [class*='Container'] form >ul li,
    [class*='Container'] fieldset >ul li{
        font-size: 15px; font-weight: 400; 
        color: #1a1a1a; margin-bottom: 20px;
        border-bottom: 2px solid #ededed;
    }
    [class*='Container'] ul li label{
        width: 23%; border: none; line-height: 52px;
        display: inline-block;
    }
    [class*='Container'] ul li label+input{
        width: 76%; border: none; height: 50px;
        padding: 0 10px; box-sizing: border-box;
    }
    [class*='eContainer2'] >div:first-of-type ul li:first-child{
        border-top: 2px solid #e8e8e8;
        margin-top: 25px;
    }
    [class*='eContainer2'] >div:first-of-type ul li{
        border-bottom: 2px solid #e8e8e8;
        line-height: 60px;
        display: flex; justify-content: space-between;
    }



    [class^='member ft'] p{
        line-height: 25px; word-break: break-all;
        color: #9a9a9a;
    }
    [class^='member ft'] p:not(:last-child){
        margin-bottom: 30px;
    }
    [class^='member ft'] div:last-of-type{
        display: none;
    }

    [class*='Container2'] >div:last-of-type ul{
        background-color: #fffcf5;
        padding: 30px; text-align: center;
        line-height: 50px;
    }
    [class^='member'] >div:last-of-type ul li:not(:last-child){
        border-bottom: 2px solid #e8e8e8;
    }
    [class^='member'] >div:last-of-type ul li a.active{
        font-weight: 700;
    }
    [class^='order'] >div:last-of-type ul li{
        display: flex; justify-content: space-between;
    }
    [class^='order'] >div:last-of-type ul li:nth-child(2),
    #emptyBox >div:last-of-type ul li:first-child{
        padding-bottom: 15px;
    }
    [class^='order'] >div:last-of-type ul li:last-child{
        padding-top: 15px; border-top: 2px solid #e8e8e8;
    }
    header div:nth-child(1),
    footer{
        background-color: #eee9de;
    }
    


    input[type="checkbox"],
    input[type="radio"]{
        display: none;
    }
    label[for$="Check"],
    label[for$="Radio"]{
        padding: 20px 0 0 40px;
        line-height: 30px; 
    }
    label[for$="Check"]{
        display: block; word-break: break-all; color: #8e8e8e;
        background: url('../images/bull_checkbox_default.png') left 25px no-repeat;
    }
    label[for$="Radio"]{
        display: inline-block;
        background: url('../images/bull_radio_default.png') left 25px no-repeat;;
    }
    label[for$="Radio"]:not(:first-of-type){
        margin-left: 30px;
    }
    input[id$="Check"]:checked+label{
        background-image: url('../images/bull_checkbox_check.png');
    }
    input[id$="Radio"]:checked+label{
        background-image: url('../images/bull_radio_check.png');
    }



    [class$='Btn']{
        display: block; font-size: 14px; font-weight: 400;
        color: #1a1a1a; text-align: center; line-height: 60px;
        background-color: #eee9de;
        transition: background-color 0.75s ease;
    }
    .bBtn{
        border: none; width: 100%; cursor: pointer;
        margin-top: 40px;
    }
    .aBtn span{
        display: block;
    }
    [class^='opt']{
        border: none; background-color: transparent;
        color: #8e8e8e; cursor: pointer; margin-top: 30px;
    }
    .optR{
        float: right;
    }
    .optL{
        float: left;
    }



    .mainContainer .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item{
        width: 100px;
    }
    .mainContainer .bx-wrapper .bx-pager.bx-default-pager a{
        background: #eaeaea; width: 100%;
        height: 2px; margin: 0 0 1px;
        border-radius: 0;
    }
    .mainContainer .bx-wrapper .bx-pager.bx-default-pager a.active{
        height: 4px; margin: 0; background: #d1d1d1;
    }
    .mainContainer >.bx-wrapper .bx-controls-direction a,
    .mainContainer .brandSlider .bx-wrapper .bx-controls-direction a{
        width: 60px; height: 60px; z-index: 1;
    }
    .mainContainer >.bx-wrapper .bx-controls-direction a{
        top: calc(100% - 64px);
    }
    .mainContainer >.bx-wrapper .bx-prev{
        background: url('../images/btn_left_mo_01.png') no-repeat center;
        left: calc(50% - 230px); 
    }
    .mainContainer >.bx-wrapper .bx-next{
        background: url('../images/btn_right_mo_01.png') no-repeat center;
        right: calc(50% - 230px); 
    }



    .productCard >span,
    .productCardList >li span{
        position: relative;
    }
    .productCard >span img,
    .productCardList >li span img{
        width: 100%;
    }
    .productCard >span:hover:after,
    .productCardList >li span:hover:after{
        content: ''; position: absolute; z-index: 1;
        top: 0; left: 0; width: 100%; height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .bestSlider .productCard >span:hover{
        display: flex; align-items: center;
        justify-content: center;
    }
    .productCard >span a,
    .productCardList >li span a{
        display: none;
    }
    .productCard >span:hover a,
    .productCardList >li span:hover a{
        display: block; z-index: 10;
        position: absolute; text-align: center;
        bottom: calc(50% - 20px); left: calc(50% - 20px);
        background-color: #000; border-radius: 22px;
        font-size: 40px; font-weight: 300; color: #fff;
        width: 40px; height: 40px;
    }
    .productCard >div,
    .productCardList >li div{
        padding: 30px;
    }
    .productCard div dl,
    .productCardList >li div dl{
        margin-bottom: 15px;
        font-size: 15px; font-weight: 400; color: #1a1a1a;
    }
    .productCard div dl dt,
    .productCardList >li div dl dt{
        margin-bottom: 25px;
    }
    .productCard div ul li,
    .productCardList >li div ul li{
        width: 14px; height: 14px; display: inline-block;
        border: 1px solid #e8e8e8; border-radius: 8px;
        text-indent: -9999px;
    }
    .productCard div ul li:not(:first-child),
    .productCardList >li div ul li:not(:first-child){
        margin-left: 5px;
    }
    
    [class*='my']:not(.myMobileContent) .productCard{
        display: flex;
    }
    [class*='my']:not(.myMobileContent) .productCard span{
        flex-basis: 300px; flex-shrink: 0;
    }
    [class*='my']:not(.myMobileContent) .productCard div{
        flex-grow: 1;
    } 
    [class*='my']:not(.myMobileContent) .productCard div dl dt{
        line-height: 20px;
    }



    #searchPanel{
        width: 100%; position: fixed; background-color: #fff;
        z-index: 1000; padding-top: 40px;
    }
    #searchPanel:after{
        content: ''; display: block;
        width: 100vw; height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10; position: absolute;
    }
    #searchPanel h2{
        text-indent: -9999px; margin-bottom: 20px;
    }
    #searchPanel h2 input[type='button'],
    [id$='Pop'] >div input[type='button'],
    .mycartContainer2 dl dt input[type='button']{
        background-color: transparent; border: none;
        font-size: 22px; color: inherit; float: right;
    }
    #searchPanel div{
        width: 600px; border-bottom: 2px solid #ededed;
        margin: 0 auto 70px;
    }
    #searchPanel div form input{
        border: none; height: 50px;
    }
    #searchPanel div form input[type='search']{
        width: 93%; padding: 0 10px;
    }
    #searchPanel div form input[type='submit']{
        width: 5%; text-indent: -9999px;
        background: url('../images/search.png') no-repeat center right;
    }



    [id$='Pop']{
        min-width: 560px; min-height: 224px;
        z-index: 100; position: fixed;
        left: calc(50% - 280px); top: calc(50% - 112px);
        box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.2);
    }
    [id$='Pop'] >div{
        background-color: #fffcf5;  padding: 50px 30px;
        position: relative;
    }
    [id$='Pop'] >div ul li{
        line-height: 22px;
    }
    [id$='Pop'] >div ul li:first-of-type{
        margin-bottom: 20px;
    }

    
    .countComp{
        position: relative; border: 1px solid #d1d1d1;
        max-width: 150px; line-height: 50px;
        box-sizing: border-box; text-align: center;
    }
    .countComp input[type='button']{
        background-color: transparent; border: none;
        position: absolute; top: 10px; cursor: pointer;
    }
    .countComp input[type='button']:first-of-type{
        left: 20px;
    }
    .countComp input[type='number']{
        font-size: 15px; font-weight: 400; color: #2a2a2a;
        border: none; text-align: center;
    }
    .countComp input[type='button']:last-of-type{
        right: 20px;
    }



    header div:nth-child(1) p.scroll{
        line-height: 0px; opacity: 0;
    }
    header div:nth-child(1) p{
        transition-property: line-height, opacity;
        transition-duration: 0.15s, 0.01s;
        transition-timing-function: linear;
    }
    header div:nth-child(2).scroll{
        line-height: 50px;
    }
    .contentArea aside.scroll{
        top: 88px;
    }
    .contentArea aside{
        transition-property: top, visibility, opacity;
        transition-duration: 0.15s, 0.01s, 1s;
        transition-timing-function: ease;
    }
    .contentArea.scroll aside{
        visibility: hidden; opacity: 0;
    }
    .contentArea .productCardList{
        transition: padding-left 1s ease;
    }
    .contentArea.scroll .productCardList{
        padding-left: 0px;
    }





    header{
        position: fixed; width: 100%; z-index: 100;
        background-color: #fff; border-bottom: 1px solid #e8e8e8;
    }
    header:after{
        content: ''; display: block; clear: both;
    }
    header div:nth-child(1) p{
        text-align: center; line-height: 35px;
        opacity: 1;
    }
    header div:nth-child(2){
        position: relative; line-height: 78px;
    }
    header div:nth-child(2) h1{
        position: absolute; left: 70px;
    }
    header div:nth-child(2) h1 a{
        display: block;
    }
    header div:nth-child(2) h1 a img{
        width: 100%; max-width: 100px; vertical-align: middle;
    }
    header div:nth-child(2) nav{
        float: left;
    }
    header div:nth-child(2) nav input[type="button"]{
        background-color: transparent; border: none;
        cursor: pointer; padding: 0; font-weight: 100;
        font-size: 32px; vertical-align: middle;
    }
    header div:nth-child(2) nav input[type="button"].active{
        position: fixed; top: 50px; right: calc(40% + 50px);
        z-index: 1; font-size: 22px;
    }
    header div:nth-child(2) nav >ul{
        display: none;
    }
    header div:nth-child(2) nav.active ul{
        display: block; height: 100%; width: 60%;
        position: fixed; top: 0; left: 0;
        background-color: #fff;
        padding: 50px; box-sizing: border-box;
        box-shadow: 2px 2px 25px 510px rgba(0, 0, 0, 0.5);
    }
    header div:nth-child(2) nav >ul >li{
        line-height: 40px; width: 50%;
    }
    header div:nth-child(2) ul >li b{
        font-weight: 400;
    }
    header div:nth-child(2) nav ul >li a{
        display: block; color: inherit;
    }
    header div:nth-child(2) nav ul >li:not(:first-child){
        margin-top: 10px;
    }
    header div:nth-child(2) nav ul li ol{
        padding: 20px;
    }
    header div:nth-child(2) nav ul li ol li{
        text-align: left; line-height: 36px;
    }
    header div:nth-child(2) >ul{
        float: right;
        width: 50%; text-align: right; display: flex;
        justify-content: flex-end; gap: 4%;
    }
    header div:nth-child(2) >ul li a{
        color: #5a5a5a; padding: 15px 0;
    }
    header div:nth-child(2) >ul li input[type='button']{
        background-color: transparent; border: none;
        font-size: 20px; color: inherit; cursor: pointer;
        padding: 15px 0;
    }
    /* ? header FIN */

    

    .paging{
        flex: 0 100%; max-width: 320px;
        margin: 0 auto; position: relative;
        clear: both; font-size: 13px; font-weight: 700;
        color: #8e8e8e; padding-top: 130px;
    }
    .paging a{
        padding: 10px; display: block;
    }
    .paging ol li a.active{
        color: #1a1a1a;
    }
    .paging >a{
        position: absolute; top: 130px; 
        color: #1a1a1a; display: none;
    }
    .paging >a.active{
        display: block;
    }
    .paging >a:nth-of-type(1){
        left: 0; letter-spacing: -1px;
    }
    .paging >a:nth-of-type(2){
        left: 40px;
    }
    .paging >a:nth-of-type(3){
        right: 40px;
    }
    .paging >a:nth-of-type(4){
        right: 0; letter-spacing: -1px;
    }
    .paging ol{
        text-align: center;
    }
    .paging ol li{
        display: inline-block;
    }
    /* ?pager FIN */


    .btnTop{
        position: fixed; bottom: 30px; right: 30px;
        background: url('../images/top.png') no-repeat center;
        width: 34px; height: 34px; text-indent: -9999px;
        z-index: 100;
    }

    footer >div{
        padding: 100px 0;
        text-align: center;
    }
    footer >div div h2 img{
        width: 100%; max-width: 100px;
        margin-bottom: 35px;
    }
    footer >div div ul{
        margin-bottom: 50px;
    }
    footer >div div ul li{
        display: inline-block;
    }
    footer >div div ul li:not(:first-child){
        margin-left: 5%;
    }
    footer >div div ul li a{
        display: block;
    }
    footer >div address{
        color: #1a1a1a;
    }
    footer >div address span{
        display: block;
    }
    footer >div address span:not(:last-child){
        margin-bottom: 10px;
    }
    footer >div address span:last-child{
        padding-top: 20px;
    }
    /* ? footer FIN */

}
/* ? tablet */




















@media screen and (min-width:1280px){
    #searchPanel h2,
    header div:nth-child(1) div,
    header div:nth-child(2),
    .mainContainer,
    [class*='Area'],
    footer div{
        max-width: 1680px; margin: 0 auto;
    }
    #searchPanel,
    [class*='Container'],
    [class*='Area']{
        padding-top: 162px;
    }
    .mainContainer >*,
    [class*='Area']{
        margin-bottom: 180px;
    }
    [class*='Container1']{
        max-width: 700px; margin: 0 auto 205px;
    }
    [class*='Container2']{
        max-width: 1400px; margin: 0 auto 180px;
        display: flex; flex-wrap: wrap;
        justify-content: space-between;
    }
    [class*='Container'] >h2,
    #searchPanel h2{
        font-size: 22px; font-weight: 300;
        text-align: center; margin-bottom: 100px;
        margin-top: 90px; color: #4c4c4c;
    }
    [class*='Container2'] >h2{
        flex-basis: 100%;
    }
    [class*='Container2'] >div:first-of-type{
        flex: 0 700px;
    }
    [class*='Container2'] h3{
        font-size: 20px; font-weight: 700;
        padding-bottom: 25px;
    }
    [class*='Container'] form >ul li,
    [class*='Container'] fieldset >ul li{
        font-size: 15px; font-weight: 400; 
        color: #1a1a1a; margin-bottom: 20px;
        border-bottom: 2px solid #ededed;
    }
    [class*='Container'] ul li label{
        width: 23%; border: none; line-height: 52px;
        display: inline-block;
    }
    [class*='Container'] ul li label+input{
        width: 76%; border: none; height: 50px;
        padding: 0 10px; box-sizing: border-box;
    }
    [class*='eContainer2'] >div:first-of-type ul li:first-child{
        border-top: 2px solid #e8e8e8;
        margin-top: 25px;
    }
    [class*='eContainer2'] >div:first-of-type ul li{
        border-bottom: 2px solid #e8e8e8;
        line-height: 60px;
        display: flex; justify-content: space-between;
    }



    [class^='member ft'] p{
        line-height: 25px; word-break: break-all;
        color: #9a9a9a;
    }
    [class^='member ft'] p:not(:last-child){
        margin-bottom: 30px;
    }

    [class*='Container2'] >div:last-of-type{
        flex: 0 40%; min-width: 500px;
    }
    [class*='Container2'] >div:last-of-type ul{
        background-color: #fffcf5;
        padding: 30px; text-align: center;
        line-height: 50px;
    }
    [class^='member'] >div:last-of-type ul li:not(:last-child){
        border-bottom: 2px solid #e8e8e8;
    }
    [class^='member'] >div:last-of-type ul li a.active,
    [class^='member'] >div:last-of-type ul li:hover{
        font-weight: 700;
    }
    [class^='order'] >div:last-of-type ul li{
        display: flex; justify-content: space-between;
    }
    [class^='order'] >div:last-of-type ul li:nth-child(2),
    #emptyBox >div:last-of-type ul li:first-child{
        padding-bottom: 15px;
    }
    [class^='order'] >div:last-of-type ul li:last-child{
        padding-top: 15px; border-top: 2px solid #e8e8e8;
    }
    header div:nth-child(1),
    footer{
        background-color: #eee9de;
    }
    


    input[type="checkbox"],
    input[type="radio"]{
        display: none;
    }
    label[for$="Check"],
    label[for$="Radio"]{
        padding: 20px 0 0 40px;
        line-height: 30px; 
    }
    label[for$="Check"]{
        display: block; word-break: break-all; color: #8e8e8e;
        background: url('../images/bull_checkbox_default.png') left 25px no-repeat;
    }
    label[for$="Radio"]{
        display: inline-block;
        background: url('../images/bull_radio_default.png') left 25px no-repeat;;
    }
    label[for$="Radio"]:not(:first-of-type){
        margin-left: 30px;
    }
    input[id$="Check"]:checked+label{
        background-image: url('../images/bull_checkbox_check.png');
    }
    input[id$="Radio"]:checked+label{
        background-image: url('../images/bull_radio_check.png');
    }



    [class$='Btn']{
        display: block; font-size: 14px; font-weight: 400;
        color: #1a1a1a; text-align: center; line-height: 60px;
        background-color: #eee9de;
        transition: background-color 0.75s ease;
    }
    .bBtn{
        border: none; width: 100%; cursor: pointer;
        margin-top: 40px;
    }
    .aBtn span{
        display: block;
    }
    [class$='Btn']:hover{
        background-color: #faf4e8; color: #000;
    }
    [class^='opt']{
        border: none; background-color: transparent;
        color: #8e8e8e; cursor: pointer; margin-top: 30px;
    }
    .optR{
        float: right;
    }
    .optL{
        float: left;
    }
    [class^='opt']:hover{
        color: #1a1a1a;
    }



    .mainContainer .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item{
        width: 100px;
    }
    .mainContainer .bx-wrapper .bx-pager.bx-default-pager a{
        background: #eaeaea; width: 100%;
        height: 2px; margin: 0 0 1px;
        border-radius: 0;
    }
    .mainContainer .bx-wrapper .bx-pager.bx-default-pager a.active{
        height: 4px; margin: 0; background: #d1d1d1;
    }
    .mainContainer >.bx-wrapper .bx-controls-direction a{
        margin-top: -30px; width: 60px; height: 60px;
        z-index: 1;
    }
    .mainContainer >.bx-wrapper .bx-prev{
        background: url('../images/btn_left_01.png') no-repeat center;
        left: 10px;
    }
    .mainContainer >.bx-wrapper .bx-next{
        background: url('../images/btn_right_01.png') no-repeat center;
        right: 10px;
    }



    .productCard >span,
    .productCardList >li span{
        position: relative;
    }
    .productCard >span img,
    .productCardList >li span img{
        width: 100%;
    }
    .productCard >span:hover:after,
    .productCardList >li span:hover:after{
        content: ''; position: absolute; z-index: 1;
        top: 0; left: 0; width: 100%; height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .productCard >span a,
    .productCardList >li span a{
        display: none;
    }
    .productCard >span:hover a,
    .productCardList >li span:hover a{
        display: block; z-index: 10;
        position: absolute; text-align: center;
        top: calc(50% - 20px); left: calc(50% - 20px);
        background-color: #000; border-radius: 22px;
        font-size: 40px; font-weight: 300; color: #fff;
        width: 40px; height: 40px;
    }
    .productCard >div,
    .productCardList >li div{
        padding: 30px;
    }
    .productCard div dl,
    .productCardList >li div dl{
        margin-bottom: 15px;
        font-size: 15px; font-weight: 400; color: #1a1a1a;
    }
    .productCard div dl dt,
    .productCardList >li div dl dt{
        margin-bottom: 25px;
    }
    .productCard div ul li,
    .productCardList >li div ul li{
        width: 14px; height: 14px; display: inline-block;
        border: 1px solid #e8e8e8; border-radius: 8px;
        text-indent: -9999px;
    }
    .productCard div ul li:not(:first-child),
    .productCardList >li div ul li:not(:first-child){
        margin-left: 5px;
    }
    
    [class*='my'] .productCard{
        display: flex;
    }
    [class*='my'] .productCard span{
        flex-basis: 150px; flex-shrink: 0;
        margin-bottom: 40px;
    }
    [class*='my'] .productCard div{
        flex-grow: 1;
    } 
    [class*='my'] .productCard div dl dt{
        line-height: 20px;
    }



    #searchPanel{
        width: 100%; position: fixed; background-color: #fff;
        z-index: 100;
    }
    #searchPanel:after{
        content: ''; display: block;
        width: 100%; height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 10; position: absolute;
    }
    #searchPanel h2 input[type='button'],
    [id$='Pop'] >div input[type='button'],
    .mycartContainer2 dl dt input[type='button']{
        background-color: transparent; border: none;
        font-size: 22px; color: inherit; cursor: pointer;
        float: right;
    }
    #searchPanel div{
        width: 700px; border-bottom: 2px solid #ededed;
        margin: 0 auto 120px;
    }
    #searchPanel div form input{
        border: none; height: 50px;
    }
    #searchPanel div form input[type='search']{
        width: 93%; padding: 0 10px;
    }
    #searchPanel div form input[type='submit']{
        width: 5%; text-indent: -9999px;
        background: url('../images/search.png') no-repeat right center;
    }



    [id$='Pop']{
        min-width: 560px; min-height: 224px;
        z-index: 100; position: fixed;
        left: calc(50% - 280px); top: calc(50% - 112px);
        box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.2);
    }
    [id$='Pop'] >div{
        background-color: #fffcf5;  padding: 50px 30px;
        position: relative;
    }
    [id$='Pop'] >div ul li{
        line-height: 22px;
    }
    [id$='Pop'] >div ul li:first-of-type{
        margin-bottom: 20px;
    }

    
    .countComp{
        position: relative; border: 1px solid #d1d1d1;
        max-width: 150px; line-height: 50px;
        box-sizing: border-box; text-align: center;
    }
    .countComp input[type='button']{
        background-color: transparent; border: none;
        position: absolute; top: 10px; cursor: pointer;
    }
    .countComp input[type='button']:first-of-type{
        left: 20px;
    }
    .countComp input[type='number']{
        font-size: 15px; font-weight: 400; color: #2a2a2a;
        border: none; text-align: center;
    }
    .countComp input[type='button']:last-of-type{
        right: 20px;
    }



    #searchPanel.scroll{
        padding-top: 72px;
    }
    #searchPanel{
        transition: padding-top 0.15s linear;
    }
    header div:nth-child(1) p.scroll{
        line-height: 0px; opacity: 0;
    }
    header div:nth-child(1) p{
        transition-property: line-height, opacity;
        transition-duration: 0.15s, 0.01s;
        transition-timing-function: linear;
    }
    header div:nth-child(2).scroll{
        line-height: 80px;
    }
    [class*='Area'] aside.scroll{
        top: 136px;
    }
    [class*='Area'] aside{
        transition: top 0.15s ease-in;
    }
    .contentArea.scroll aside{
        visibility: hidden; opacity: 0;
    }
    .contentArea aside{
        transition-property: visibility, opacity;
        transition-duration: 0.01s, 1s;
        transition-timing-function: ease;
    }
    .contentArea.scroll .productCardList{
        padding-left: 0px;
    }
    .contentArea .productCardList{
        transition: padding-left 1s ease;
    }





    header{
        position: fixed; width: 100%; z-index: 100;
        background-color: #fff; border: 1px solid #e8e8e8;
    }
    header div:nth-child(1) p{
        text-align: center; line-height: 42px;
        opacity: 1;
    }
    header div:nth-child(2){
        position: relative; line-height: 120px;
    }
    header div:nth-child(2) h1{
        position: absolute; left: 0;
    }
    header div:nth-child(2) h1 a{
        display: block;
    }
    header div:nth-child(2) h1 a img{
        width: 100%; max-width: 130px; vertical-align: middle;
    }
    header div:nth-child(2) nav{
        text-align: center; padding: 0 23%;
    }
    header div:nth-child(2) ul >li{
        display: inline-block; 
    }
    header div:nth-child(2) nav ul >li:not(:first-child){
        margin-left: 6%;
    }
    header div:nth-child(2) ul >li b{
        font-weight: 400; cursor: pointer;
    }
    header div:nth-child(2) nav input[type="button"]{
        display: none;
    }
    header div:nth-child(2) nav ul >li a{
        display: block; color: inherit;
    }
    header div:nth-child(2) nav ul li ol{
        display: none;
        position: absolute; bottom: -206px;
        background-color: #fff; padding: 30px;
        border: 1px solid #e8e8e8; min-width: 130px;
    }
    header div:nth-child(2) nav ul li:hover ol{
        display: block;
    }
    header div:nth-child(2) nav ul li ol li{
        text-align: left; line-height: 36px;
    }
    header div:nth-child(2) nav ul li ol li:hover a{
        color: #1a1a1a;
    }
    header div:nth-child(2) >ul{
        position: absolute; top: 0; right: 0;
        width: 23%; text-align: right; display: flex;
        justify-content: flex-end; gap: 4%;
    }
    header div:nth-child(2) >ul li a{
        color: #5a5a5a; padding: 30px 0;
    }
    header div:nth-child(2) >ul li input[type='button']{
        background-color: transparent; border: none;
        font-size: 20px; color: inherit; cursor: pointer;
        padding: 30px 0;
    }
    /* ? header FIN */

    

    .paging{
        flex: 0 100%; max-width: 320px;
        margin: 0 auto; position: relative;
        clear: both; font-size: 13px; font-weight: 700;
        color: #8e8e8e; padding-top: 130px;
    }
    .paging a{
        padding: 10px; display: block;
    }
    .paging ol li a.active,
    .paging ol li a:hover{
        color: #1a1a1a;
    }
    .paging >a{
        position: absolute; top: 130px; 
        color: #1a1a1a; display: none;
    }
    .paging >a.active{
        display: block;
    }
    .paging >a:nth-of-type(1){
        left: 0; letter-spacing: -1px;
    }
    .paging >a:nth-of-type(2){
        left: 40px;
    }
    .paging >a:nth-of-type(3){
        right: 40px;
    }
    .paging >a:nth-of-type(4){
        right: 0; letter-spacing: -1px;
    }
    .paging ol{
        text-align: center;
    }
    .paging ol li{
        display: inline-block;
    }
    /* ?pager FIN */


    .btnTop{
        position: fixed; bottom: 30px; right: 30px;
        background: url('../images/top.png') no-repeat center;
        width: 34px; height: 34px; text-indent: -9999px;
    }

    footer >div{
        padding: 100px 0;
    }
    footer >div div:after{
        content: ''; display: block; clear: both;
    }
    footer >div div h2 img{
        width: 100%; max-width: 130px;
        float: left; margin-bottom: 30px;
    }
    footer >div div ul{
        text-align: right;
    }
    footer >div div ul li{
        display: inline-block;
    }
    footer >div div ul li:not(:first-child){
        margin-left: 5%;
    }
    footer >div div ul li a{
        display: block;
    }
    footer >div div ul li a:hover{
        color: #1a1a1a;
    }
    footer >div address{
        color: #1a1a1a;
    }
    footer >div address span{
        display: block;
    }
    footer >div address span:not(:last-child){
        margin-bottom: 10px;
    }
    footer >div address span:last-child{
        padding-top: 20px;
    }
    /* ? footer FIN */

}
/* ? desktop */
