
@media screen and (max-width: 767px){
    .mainContainer .mainSlider li figure img{
        margin-bottom: 25px;
    }
    .mainContainer .mainSlider li figure figcaption{
        text-align: center;
    }
    .mainContainer .mainSlider li figure figcaption dl:after{
        content: ''; display: block; clear: both;
    }
    .mainContainer .mainSlider li figure figcaption dl{
        margin-bottom: 30px;
    }
    .mainContainer .mainSlider li figure figcaption dl dt{
        margin-bottom: 20px;
    }
    .mainContainer .mainSlider li figure figcaption dl dd{
        display: inline-block;
    }
    .mainContainer .mainSlider li figure figcaption dl dd:nth-of-type(1){
        margin-right: 3px;
    }
    .mainContainer .mainSlider li figure figcaption dl dd:nth-of-type(1):after{
        content: ' /';
    }
    .mainContainer >.bx-wrapper .bx-controls-direction a{
        top: calc(50% - 95px);
    }
    /* ? mainSlider FIN */
    
    .mainContainer .brandSlider h2{
        margin-bottom: 40px;
    }    
    .mainContainer .brandSlider p{
        margin-bottom: 30px;
    }
    .mainContainer .brandSlider .bx-wrapper{
        border-top: 1px solid #e8e8e8;
    }
    .mainContainer .brandSlider ul li >img{
        width: 100%; display: block;
        border-bottom: 1px solid #e8e8e8;
    }
    .mainContainer .brandSlider ul li .productCard >span img{
        width: 50%; padding: 30px 25%;
        border-bottom: 1px solid #e8e8e8;
    }
    .mainContainer .brandSlider ul li .productCard div{
        padding: 0;
    }
    .mainContainer .brandSlider ul li .productCard div dl{
        padding: 30px 30px 0;
    }
    .mainContainer .brandSlider ul li .productCard div ul{
        padding: 0 30px 30px;
    }
    .mainContainer .brandSlider ul li .productCard div a{
        width: 100%;
    }
    .mainContainer .brandSlider .bx-wrapper .bx-controls-direction a{
        top: 50%;
    }
    /* ? brandSlider FIN */

    .mainContainer .newContent{
        padding: 70px 0 60px 15px;
        background: url('../images/mo_new_02.jpg') left / cover no-repeat;
    }
    .mainContainer .newContent >*{
        color: #fff; width: 50%;
    }
    .mainContainer .newContent h2{
        margin-bottom: 15px; line-height: 40px;
    }
    /* ? newContent FIN */

    .mainContainer .bestSlider h2{
        line-height: 55px; margin-bottom: 40px;
    }
    .mainContainer .bestSlider .bestTabMenu{
        margin-bottom: 40px;
    }
    .mainContainer .bestSlider .bestTabMenu li{
        cursor: pointer; border: 1px solid #fff;
        display: inline-block;
    }
    .mainContainer .bestSlider .bestTabMenu li:not(:first-child){
        margin-left: 3%;
    }
    .mainContainer .bestSlider .bestTabMenu li.activated{
        color: #1a1a1a; border-bottom: 1px solid #1a1a1a;
    }
    .mainContainer .bestSlider .bestTabPage bx-wrapper ul li{
        width: 33.33%;
    }
    .mainContainer .bestSlider .bestTabPage .productCard b{
        font-size: 12px; font-weight: 700; color: #1a1a1a;
        position: absolute; top: 30px; left: 30px;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-controls-direction a{
        width: 15px; height: 27px;
        z-index: 1; top: -46px;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item{
        width: 20%;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-prev{
        left: 85%;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-next{
        right: 0;
    }
    /* ? bestSlider FIN */

    .mainContainer .figuresSlider{
        padding: 15px 15px 0; position: relative;
    }
    .mainContainer .figuresSlider:after{
        content: ''; position: absolute; z-index: 1;
        top: 25%; left: 0; width: 100%; height: 70%;
        background-color: #faf4e8;
    }
    .mainContainer .figuresSlider .bx-wrapper{
        margin-bottom: 0; z-index: 10;
    }
    .mainContainer .figuresSlider figure img{
        margin-bottom: 30px;
    }
    .mainContainer .figuresSlider figure figcaption{
        text-align: center;
    }
    .mainContainer .figuresSlider figure figcaption dt{
        margin-bottom: 30px;
    }
    .mainContainer .figuresSlider figure figcaption dd:first-of-type span{
        display: block; margin-bottom: 80px;
    }
    .mainContainer .figuresSlider figure figcaption dd:last-of-type{
        color: #fff; position: absolute;
        top: 3%; right: 3%;
    }
    .mainContainer .figuresSlider .bx-wrapper .bx-pager{
        bottom: 50px;
    }
    .mainContainer .figuresSlider .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item{
        width: 50%;
    }
    .mainContainer .figuresSlider .bx-wrapper .bx-controls-direction a{
        width: 15px; height: 27px;
        z-index: 1; top: 25%;
    }
    /* ? figuresSlider FIN */

    .mainContainer .myMobileContent{
        border-bottom: 1px solid #e8e8e8;
    }
    .mainContainer .myMobileContent >div figure img{
        width: 100%;
    }
    .mainContainer .myMobileContent >div figure figcaption{
        padding: 30px;
    }
    .mainContainer .myMobileContent >div figure figcaption p{
        color: #8a8a8a; line-height: 26px;
        margin-top: 20px;
    }
    .mainContainer .myMobileContent >div >ul{
        border-top: 1px solid #e8e8e8;
        display: flex; padding: 30px 0 15px;
    }
    .mainContainer .myMobileContent >div >ul >li{
        flex-basis: 50%;
    }
    .mainContainer .myMobileContent >div >ul li .productCard span{
        display: block;
    }
    /* ? myMobileContent FIN */

/* ? index FIN */

    .contentArea aside{
        padding: 35px 0 25px;
    }
    .contentArea aside nav ul{
        display: flex; overflow: auto;
        height: 50px; padding: 0 5%;
        margin: 0 auto;
    }
    .contentArea aside nav ul li{
        flex-grow: 1;
    }
    .contentArea aside nav ul li:not(:first-child){
        padding-left: 7%;
    }
    .contentArea aside nav ul li a{
        color: #8e8e8e; display: block;
        text-align: center;
    }
    .contentArea aside nav ul li a.active{
        color: #1a1a1a;
    }
    .contentArea aside nav ul li a::before{
        content: ''; display: block;
        margin-top: 20px;
    }
    .contentArea aside nav ul li a.active::before{
        width: 10px; height: 10px; background-color: #000;
        border-radius: 5px; margin: 0 auto 10px;
    }
    .contentArea .productCardList >li span{
        display: block;
    }
    .contentArea .productCardList >li div{
        margin-bottom: 30px;
    }
    .contentArea .productCardList >li div dl dt{
        text-transform: uppercase;
    }
/* ? contentArea FIN */

    .detailArea aside{
        padding-top: calc(100% + 50px);
    }
    .detailArea aside h2{
        font-weight: inherit; margin-bottom: 25px;
        text-transform: uppercase;
    }
    .detailArea aside strong{
        margin-bottom: 24px; display: block;
    }
    .detailArea aside .detailTabMenu{
        margin-bottom: 30px;
    }
    .detailArea aside .detailTabMenu:after{
        content: ''; display: block; clear: both;
    }
    .detailArea aside .detailTabMenu li{
        float:left; text-indent: -9999px;
        width: 30px; height: 30px; box-sizing: border-box;
        border: 8px solid #e8e8e8; border-radius: 15px;
        cursor: pointer;
    }
    .detailArea aside .detailTabMenu li.active{
        border: 3px solid #e8e8e8;
    }
    .detailArea aside .detailTabMenu li:not(:first-child){
        margin-left: 10px;
    }
    .detailArea aside span{
        display: block; margin: 28px 0;
        float: left; clear: both;
    }
    .detailArea aside strong:nth-of-type(2){
        margin: 46px 0; text-align: right;
    }
    .detailArea aside .aBtn:nth-of-type(1){
        margin-bottom: 10px; clear: both;
    }
    .detailArea aside .aBtn:nth-of-type(2){
        margin-bottom: 30px; background-color: #e0dbd1;
    }
    .detailArea aside .accComp{
        margin-bottom: 50px;
    }
    .detailArea aside .accComp li{
        border-top: 2px solid #e8e8e8;
    }
    .detailArea aside .accComp li:last-child{
        border-bottom: 2px solid #e8e8e8;
    }
    .detailArea aside .accComp li h3{
        font-weight: inherit; padding: 25px;
        cursor: pointer;
    }
    .detailArea aside .accComp li h3:after{
        content: '+'; display: block; float: right;
    }
    .detailArea aside .accComp li h3~p{
        padding: 20px 30px 20px; line-height: 30px;
        display: none;
    }
    .detailArea aside .accComp li h3.active:after{
        content: '-';
    }
    .detailArea aside .accComp li h3.active~p{
        display: block;
    }
    .detailArea aside .accComp li p:last-child{
        margin-bottom: 25px;
    }
    .detailArea >div.active img:first-of-type{
        position: absolute; top: 96px;
        width: 94%;
    }
    .detailArea >div img{
        width: 100%; max-width: 1000px;
    }
/* ? detailArea FIN */

    .promotionArea ul li{
        height: 1000px; position: relative;
        font-size: 16px;
    }
    .promotionArea ul li:nth-of-type(1){
        background: url('../images/mo2_promotion_wv.png') no-repeat top left;
    }
    .promotionArea ul li:nth-of-type(2){
        background: url('../images/mo2_promotion_fm.png') no-repeat top right;
        text-align: right;
    }
    .promotionArea ul li:nth-of-type(3){
        background: url('../images/mo2_promotion_kb.png') no-repeat top left;
    }
    .promotionArea ul li div{
        position: absolute;
        bottom: 20%; opacity: 0;
        transition-property: bottom, opacity;
        transition-duration: 1s;
        transition-timing-function: ease;
    }
    .promotionArea ul li div.scroll{
        bottom: 40%; opacity: 1;
    }
    .promotionArea ul li:nth-of-type(1) div{
        animation-name: startEvent; animation-duration: 1s;
    }
    @keyframes startEvent{
        from{
            bottom: 20%; opacity: 0;
        }to{
            bottom: 40%; opacity: 1;
        }
    }
    .promotionArea ul li h2{
        padding-top: 330px; margin-bottom: 40px;
    }
    .promotionArea ul li p{
        color: #5a5a5a; line-height: 30px;
    }
    .promotionArea ul li p:last-of-type{
        margin-bottom: 40px;
    }
    .promotionArea ul li .aBtn{
        max-width: 345px;
    }
    .promotionArea ul li:nth-of-type(2) .aBtn{
        margin-left: auto;
    }
/* ? promotionArea FIN */

    .aboutArea{
        background: url('../images/mo_aboutbg.jpg') no-repeat top 96px left;
    }
    .aboutArea h2 img{
        width: 100%; max-width: 116px;
        padding-top: 200px; margin-bottom: 50px;
    }
    .aboutArea div:first-of-type p{
        line-height: 30px; margin-bottom: 30px;
        color: #5a5a5a; word-break: break-all;
    }
    .aboutArea q{
        display: block; text-align: right;
    }
    .aboutArea >q,
    .aboutArea >p{
        text-transform: uppercase; padding-top: 90px;
        margin-bottom: 25px; line-height: 30px;
    }
    .aboutArea >img{
        margin-bottom: 100px; width: 100%;
    }
    .aboutArea div:last-of-type{
        text-align: center; margin: 0 auto;
    }
    .aboutArea div:last-of-type h2{
        margin-bottom: 20px;
    }
    .aboutArea div:last-of-type >span{
        display: block; margin-bottom: 40px;
    }
    .aboutArea div:last-of-type figure img{
        margin-bottom: 20px;
    }
    .aboutArea div:last-of-type figure figcaption span{
        display: block; margin-bottom: 20px;
    }
    .aboutArea div:last-of-type .bx-wrapper{
        margin-bottom: 30px;
    }
    .aboutArea div:last-of-type .bx-wrapper .bx-controls-direction a{
        margin-top: -13px; width: 15px; height: 27px;
        z-index: 1;
    }
    .aboutArea div:last-of-type >p{
        max-width: 500px; margin: 0 auto;
        line-height: 25px;
    }
    .aboutArea iframe{
        width: 100%; height: 53vw;
    }
/* ? aboutArea FIN */

    .contactContainer2 div:first-of-type ul+label{
        display: block; line-height: 52px;
        padding-top: 20px;
    }
    .contactContainer2 div:first-of-type textarea{
        display: block; border: 2px solid #e8e8e8;
        width: 100%; height: 250px; resize: none;
        padding: 20px; font-family: inherit; font-size: inherit;
        box-sizing: border-box;
    }
    .contactContainer2 div:after{
        content: ''; display: block; clear: both;
    }
    .contactContainer2 div:last-of-type >*:not(iframe){
        display: block; text-align: center;
    }
    .contactContainer2 div:last-of-type iframe{
        width: 100%; height: 450px; 
    }
    .contactContainer2 div:last-of-type strong{
        margin-bottom: 20px;
    }
    .contactContainer2 div:last-of-type strong:last-of-type{
        margin-top: 50px;
    }
/* ? contactContainer FIN */

    .findContainer1{
        position: relative;
    }
    .findContainer1 label[for$="Radio"]{
        background-position: left 5px; padding-top: 0;
        position: absolute; bottom: 312px;
    }
    .findContainer1 label[for$="Radio"]:first-of-type{
        left: 3%;
    }
    .findContainer1 label[for$="Radio"]:last-of-type{
        left: 95px;
    }
    .findContainer1 >div{
        padding-top: 75px;
    }
    .findContainer1 input:checked+div{
        display: block;
    }
    .findContainer1 input+div{
        display: none;
    }
    .findContainer1 input[id="emailPWRadio"]:checked~label[for="emailPWRadio"],
    .findContainer1 input[id="phonePWRadio"]:checked~label[for="phonePWRadio"]{
        background-image: url('../images/bull_radio_check.png');
    }
/* ? findContainer1 FIN */

    .pageContainer2 >div:first-of-type ul li{
        justify-content: space-between;
        padding: 10px 0;
    }


    .myordersContainer2 h3::after{
        content: ''; display: block; clear: both;
    }
    .myordersContainer2 h3 span{
        float: right; line-height: 16px;
    }
    [class*='sContainer2'] h3+ul >li:first-child,
    .mycartContainer2 >div:first-of-type >ul >li:first-child{
        border-top: 2px solid #e8e8e8;
        padding: 25px 0;
    }
    [class*='sContainer2'] h3+ul >li,
    .mycartContainer2 >div:first-of-type >ul >li{
        border-bottom: 2px solid #e8e8e8;
    }
    section[class*='my'] .productCard div ul{
        margin-bottom: 40px;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div *{
        display: block; text-align: right;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div address{
        color: #9a9a9a;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div span{
        margin: 20px 0 10px; color: #1a1a1a;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div >span{
        margin-bottom: 0;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div span strong{
        margin-top: 10px;
    }
/* ? myordersContainer2 FIN */

    #emptyBox >div:last-of-type ul li:last-child{
        padding-bottom: 0;
    }
/* ? mycartContainer2 FIN */

    .paymentContainer2 >div:first-of-type h3{
        background-image: url('../images/card_01.png'), url('../images/card_02.png'), url('../images/card_03.png');
        background-repeat: no-repeat; background-size: 33px;
        background-position: left 155px top, left 193px top, left 231px top;
    }
    .paymentContainer2 >div:first-of-type form ul{
        margin-top: 15px;
    }
/* ? paymentContainer2 FIN */

    .mysuccessContainer2 h2 >span{
        margin-top: 20px; display: block;
        line-height: 16px;
    }
/* ? mysuccessContainer2 FIN */

    .ftDeliveContainer2 >div:first-of-type ul{
        margin-bottom: 45px;
    }
    .ftDeliveContainer2 >div:first-of-type ul li:first-child{
        margin-top: 0;
    }
    .ftDeliveContainer2 >div:first-of-type ul li span:not(:nth-of-type(2)){
        font-weight: 500;
    }
/* ? ftDeliveContainer2 FIN */

    .ftGeneralContainer2 >div:first-of-type ol li strong{
        display: block; margin: 40px 0 15px;
    }
    .ftGeneralContainer2 >div:first-of-type ol li address{
        line-height: 25px; margin-bottom: 30px;
        color: #9a9a9a;
    }
/* ? ftGeneralContainer2 FIN */


}
/* ? mobile */















@media screen and (min-width: 768px) and (max-width: 1279px){
    .mainContainer .mainSlider li figure{
        position: relative;
    }
    .mainContainer .mainSlider li figure figcaption{
        position: absolute; top: 100px; left: 50px;
        width: 345px;
    }
    .mainContainer .mainSlider li figure figcaption dl:after{
        content: ''; display: block; clear: both;
    }
    .mainContainer .mainSlider li figure figcaption dl{
        margin-bottom: 25px;
    }
    .mainContainer .mainSlider li figure figcaption dl dt{
        margin-bottom: 15px;
    }
    .mainContainer .mainSlider li figure figcaption dl dd{
        display: inline-block;
    }
    .mainContainer .mainSlider li figure figcaption dl dd:nth-of-type(1){
        margin-right: 3px;
    }
    .mainContainer .mainSlider li figure figcaption dl dd:nth-of-type(1):after{
        content: ' /';
    }
    /* ? mainSlider FIN */
    
    .mainContainer .brandSlider h2{
        margin-bottom: 40px;
    }    
    .mainContainer .brandSlider p{
        margin-bottom: 30px;
    }
    .mainContainer .brandSlider .bx-wrapper{
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }
    .mainContainer .brandSlider ul li{
        position: relative;
    }
    .mainContainer .brandSlider ul li >img{
        width: 100%; display: block;
        border-bottom: 1px solid #e8e8e8;
    }
    .mainContainer .brandSlider ul li .productCard{
        display: flex;
    }
    .mainContainer .brandSlider ul li .productCard >span{
        width: 50%; border-right: 1px solid #e8e8e8;
        box-sizing: border-box;
    }
    .mainContainer .brandSlider ul li .productCard >div{
        width: 50%; box-sizing: border-box;
    }
    .mainContainer .brandSlider ul li .productCard div a{
        position: absolute; bottom: 30px; width: calc(50% - 60px);
    }
    .mainContainer .brandSlider .bx-wrapper .bx-pager{
        bottom: calc(50% - 20px);
    }
    .mainContainer .brandSlider .bx-wrapper .bx-controls-direction a{
        top: calc(50% - 4px);
    }
    .mainContainer .brandSlider .bx-wrapper .bx-prev{
        background: url('../images/btn_left_mo_01.png') no-repeat center;
        left: calc(50% - 230px); 
    }
    .mainContainer .brandSlider .bx-wrapper .bx-next{
        background: url('../images/btn_right_mo_01.png') no-repeat center;
        right: calc(50% - 230px); 
    }
    /* ? brandSlider FIN */

    .mainContainer .newContent{
        padding: 80px 0 75px 60px;
        background: url('../images/mo_new_01.jpg') no-repeat left center;
    }
    .mainContainer .newContent h2{
        margin-bottom: 15px;
    }
    /* ? newContent FIN */

    .mainContainer .bestSlider h2{
        line-height: 55px; margin-bottom: 40px;
    }
    .mainContainer .bestSlider .bestTabMenu{
        margin-bottom: 40px;
    }
    .mainContainer .bestSlider .bestTabMenu li{
        cursor: pointer; border: 1px solid #fff;
        display: inline-block;
    }
    .mainContainer .bestSlider .bestTabMenu li:not(:first-child){
        margin-left: 20px;
    }
    .mainContainer .bestSlider .bestTabMenu li.activated{
        color: #1a1a1a; border-bottom: 1px solid #1a1a1a;
    }
    .mainContainer .bestSlider .bestTabPage bx-wrapper ul li{
        width: 33.33%;
    }
    .mainContainer .bestSlider .bestTabPage .productCard b{
        font-size: 12px; font-weight: 700; color: #1a1a1a;
        position: absolute; top: 30px; left: 30px;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-controls-direction a{
        width: 15px; height: 27px;
        z-index: 1; top: -46px;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-prev{
        background: url('../images/btn_left_02.png') no-repeat center;
        left: 92%;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-next{
        background: url('../images/btn_right_02.png') no-repeat center;
        right: 0;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-pager{
        bottom: -15px;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item{
        width: 33%;
    }
    /* ? bestSlider FIN */

    .mainContainer .figuresSlider{
        padding: 15px 8% 0; position: relative;
    }
    .mainContainer .figuresSlider:after{
        content: ''; position: absolute; z-index: 1;
        top: 20%; left: 0; width: 100%; height: 80%;
        background-color: #faf4e8;
    }
    .mainContainer .figuresSlider .bx-wrapper{
        margin-bottom: 0; z-index: 10;
    }
    .mainContainer .figuresSlider figure img{
        margin-bottom: 50px;
    }
    .mainContainer .figuresSlider figure figcaption{
        text-align: center;
    }
    .mainContainer .figuresSlider figure figcaption dt{
        margin-bottom: 30px;
    }
    .mainContainer .figuresSlider figure figcaption dd:first-of-type span{
        display: block; margin-bottom: 100px;
    }
    .mainContainer .figuresSlider figure figcaption dd:last-of-type{
        color: #fff; position: absolute;
        top: 20px; right: 20px;
    }
    .mainContainer .figuresSlider .bx-wrapper .bx-controls-direction a{
        width: 15px; height: 27px;
        z-index: 1; top: 50%;
    }
    .mainContainer .figuresSlider .bx-wrapper .bx-prev{
        background: url('../images/btn_left_02.png') no-repeat center;
        left: -40px;
    }
    .mainContainer .figuresSlider .bx-wrapper .bx-next{
        background: url('../images/btn_right_02.png') no-repeat center;
        right: -40px;
    }
    /* ? figuresSlider FIN */

    .mainContainer .myMobileContent{
        border-bottom: 1px solid #e8e8e8;
    }
    .mainContainer .myMobileContent >div figure img{
        width: 100%;
    }
    .mainContainer .myMobileContent >div figure figcaption{
        padding: 30px;
    }
    .mainContainer .myMobileContent >div figure figcaption p{
        color: #8a8a8a; line-height: 26px;
        margin-top: 20px;
    }
    .mainContainer .myMobileContent >div >ul{
        border-top: 1px solid #e8e8e8;
        display: flex;
    }
    .mainContainer .myMobileContent >div >ul >li{
        flex-basis: 50%; padding: 30px;
    }
    .mainContainer .myMobileContent >div >ul li .productCard span{
        display: block; width: 50%;
    }
    /* ? myMobileContent FIN */

/* ? index FIN */

    .contentArea aside{
        position: sticky; top: 142px; left: 0px;
        width: 25%; height: 0; line-height: 36px;
        visibility: visible; opacity: 1;
    }
    .contentArea aside nav ul li a{
        color: #8e8e8e;
    }
    .contentArea aside nav ul li a.active{
        color: #1a1a1a;
    }
    .contentArea aside nav ul li a.active::before{
        content: ''; display: inline-block;
        width: 10px; height: 10px; background-color: #000;
        border-radius: 5px; margin-right: 5px;
    }
    .contentArea .productCardList{
        padding-left: 25%; box-sizing: border-box;
        display: flex; flex-wrap: wrap;
    }
    .contentArea .productCardList >li{
        width: 50%; display: block;
    }
    .contentArea .productCardList >li span{
        display: block;
    }
    .contentArea .productCardList >li div{
        margin-bottom: 30px;
    }
    .contentArea .productCardList >li div dl dt{
        text-transform: uppercase;
    }
/* ? contentArea FIN */

    .detailArea aside{
        padding-top: calc(100% + 50px);
    }
    .detailArea aside h2{
        font-weight: inherit; margin-bottom: 25px;
        text-transform: uppercase;
    }
    .detailArea aside strong{
        margin-bottom: 24px; display: block;
    }
    .detailArea aside .detailTabMenu{
        margin: 11px 0 30px; float: left;
    }
    .detailArea aside .detailTabMenu:after{
        content: ''; display: block; clear: both;
    }
    .detailArea aside .detailTabMenu li{
        float:left; text-indent: -9999px;
        width: 30px; height: 30px; box-sizing: border-box;
        border: 8px solid #e8e8e8; border-radius: 15px;
        cursor: pointer;
    }
    .detailArea aside .detailTabMenu li.active{
        border: 3px solid #e8e8e8;
    }
    .detailArea aside .detailTabMenu li:not(:first-child){
        margin-left: 10px;
    }
    .detailArea aside .countComp{
        margin-left: auto;
    }
    .detailArea aside span{
        display: block; margin: 28px 0;
        float: left; clear: both;
    }
    .detailArea aside strong:nth-of-type(2){
        margin: 46px 0; text-align: right;
    }
    .detailArea aside .aBtn:nth-of-type(1){
        margin-bottom: 10px; clear: both;
    }
    .detailArea aside .aBtn:nth-of-type(2){
        margin-bottom: 30px; background-color: #e0dbd1;
    }
    .detailArea aside .accComp{
        margin-bottom: 50px;
    }
    .detailArea aside .accComp li{
        border-top: 2px solid #e8e8e8;
    }
    .detailArea aside .accComp li:last-child{
        border-bottom: 2px solid #e8e8e8;
    }
    .detailArea aside .accComp li h3{
        font-weight: inherit; padding: 25px;
        cursor: pointer;
    }
    .detailArea aside .accComp li h3:after{
        content: '+'; display: block; float: right;
    }
    .detailArea aside .accComp li h3~p{
        padding: 20px 30px 20px; line-height: 30px;
        display: none;
    }
    .detailArea aside .accComp li h3.active:after{
        content: '-';
    }
    .detailArea aside .accComp li h3.active~p{
        display: block;
    }
    .detailArea aside .accComp li p:last-child{
        margin-bottom: 25px;
    }
    .detailArea >div.active img:first-of-type{
        position: absolute; top: 114px;
        width: calc(100% - 48px);
    }
    .detailArea >div img{
        width: 100%; max-width: 1000px;
    }
/* ? detailArea FIN */

    .promotionArea ul li{
        height: 1000px; position: relative;
        font-size: 16px;
    }
    .promotionArea ul li:nth-of-type(1){
        background: url('../images/mo_promotion_wv.png') no-repeat top left;
    }
    .promotionArea ul li:nth-of-type(2){
        background: url('../images/mo_promotion_fm.png') no-repeat top right;
        text-align: right;
    }
    .promotionArea ul li:nth-of-type(3){
        background: url('../images/mo_promotion_kb.png') no-repeat top left;
    }
    .promotionArea ul li div{
        position: absolute;
        bottom: 20%; opacity: 0;
        transition-property: bottom, opacity;
        transition-duration: 1s;
        transition-timing-function: ease;
    }
    .promotionArea ul li div.scroll{
        bottom: 40%; opacity: 1;
    }
    .promotionArea ul li:nth-of-type(1) div{
        animation-name: startEvent; animation-duration: 1s;
    }
    @keyframes startEvent{
        from{
            bottom: 20%; opacity: 0;
        }to{
            bottom: 40%; opacity: 1;
        }
    }
    .promotionArea ul li:nth-of-type(2) div{
        right: 0;
    }
    .promotionArea ul li h2{
        padding-top: 330px; margin-bottom: 50px;
    }
    .promotionArea ul li p{
        color: #5a5a5a; line-height: 35px;
    }
    .promotionArea ul li p:last-of-type{
        margin-bottom: 40px;
    }
    .promotionArea ul li .aBtn{
        max-width: 345px;
    }
    .promotionArea ul li:nth-of-type(2) .aBtn{
        margin-left: auto;
    }
/* ? promotionArea FIN */

    .aboutArea{
        background: url('../images/mo_aboutbg.jpg') no-repeat top 114px left;
    }
    .aboutArea h2 img{
        width: 100%; max-width: 116px;
        padding-top: 200px; margin-bottom: 50px;
    }
    .aboutArea div:first-of-type p{
        line-height: 38px; margin-bottom: 35px;
        color: #5a5a5a; word-break: break-all;
    }
    .aboutArea q{
        display: block; text-align: right;
    }
    .aboutArea >q,
    .aboutArea >p{
        text-transform: uppercase; padding-top: 150px;
        margin-bottom: 25px; line-height: 30px;
    }
    .aboutArea >img{
        margin-bottom: 190px; width: 100%;
    }
    .aboutArea div:last-of-type{
        text-align: center; margin: 0 auto;
    }
    .aboutArea div:last-of-type h2{
        margin-bottom: 20px;
    }
    .aboutArea div:last-of-type >span{
        display: block; margin-bottom: 40px;
    }
    .aboutArea div:last-of-type figure img{
        margin-bottom: 20px;
    }
    .aboutArea div:last-of-type figure figcaption span{
        display: block; margin-bottom: 20px;
    }
    .aboutArea div:last-of-type .bx-wrapper{
        margin-bottom: 30px;
    }
    .aboutArea div:last-of-type .bx-wrapper .bx-controls-direction a{
        margin-top: -13px; width: 15px; height: 27px;
        z-index: 1;
    }
    .aboutArea div:last-of-type .bx-wrapper .bx-prev{
        background: url('../images/btn_left_02.png') no-repeat center;
        left: -90px;
    }
    .aboutArea div:last-of-type .bx-wrapper .bx-next{
        background: url('../images/btn_right_02.png') no-repeat center;
        right: -90px;
    }
    .aboutArea div:last-of-type >p{
        max-width: 500px; margin: 0 auto;
        line-height: 25px;
    }
    .aboutArea iframe{
        width: 100%; height: 53vw;
    }
/* ? aboutArea FIN */

    .contactContainer2 div:first-of-type ul+label{
        display: block; line-height: 52px;
    }
    .contactContainer2 div:first-of-type textarea{
        display: block; border: 2px solid #e8e8e8;
        width: 100%; height: 250px; resize: none;
        padding: 20px; font-family: inherit; font-size: inherit;
        box-sizing: border-box;
    }
    .contactContainer2 div:after{
        content: ''; display: block; clear: both;
    }
    .contactContainer2 div:last-of-type >*:not(iframe){
        display: block; text-align: center;
    }
    .contactContainer2 div:last-of-type iframe{
        width: 700px; height: 450px; 
    }
    .contactContainer2 div:last-of-type strong{
        margin-bottom: 20px;
    }
    .contactContainer2 div:last-of-type strong:last-of-type{
        margin-top: 50px;
    }
/* ? contactContainer FIN */

    .findContainer1{
        position: relative;
    }
    .findContainer1 label[for$="Radio"]{
        background-position: left 5px; padding-top: 0;
        position: absolute; bottom: 260px;
    }
    .findContainer1 label[for$="Radio"]:first-of-type{
        left: 0;
    }
    .findContainer1 label[for$="Radio"]:last-of-type{
        left: 95px;
    }
    .findContainer1 >div{
        padding-top: 55px;
    }
    .findContainer1 input:checked+div{
        display: block;
    }
    .findContainer1 input+div{
        display: none;
    }
    .findContainer1 input[id="emailPWRadio"]:checked~label[for="emailPWRadio"],
    .findContainer1 input[id="phonePWRadio"]:checked~label[for="phonePWRadio"]{
        background-image: url('../images/bull_radio_check.png');
    }
/* ? findContainer1 FIN */

    .myordersContainer2 h3::after{
        content: ''; display: block; clear: both;
    }
    .myordersContainer2 h3 span{
        float: right; line-height: 20px;
    }
    [class*='sContainer2'] h3+ul >li:first-child,
    .mycartContainer2 >div:first-of-type >ul >li:first-child{
        border-top: 2px solid #e8e8e8;
        padding: 25px 0;
    }
    [class*='sContainer2'] h3+ul >li,
    .mycartContainer2 >div:first-of-type >ul >li{
        border-bottom: 2px solid #e8e8e8;
    }
    section[class*='my'] .productCard span{
        flex-basis: 240px; margin-bottom: 0;
    }
    section[class*='my'] .productCard div ul{
        margin-bottom: 40px;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div *{
        display: block; text-align: right;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div address{
        color: #9a9a9a;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div span{
        margin: 20px 0 10px; color: #1a1a1a;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div >span{
        margin-bottom: 0;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div span strong{
        margin-top: 10px;
    }
/* ? myordersContainer2 FIN */

    #emptyBox >div:last-of-type ul li:last-child{
        padding-bottom: 0;
    }
/* ? mycartContainer2 FIN */

    .paymentContainer2 >div:first-of-type h3{
        background-image: url('../images/card_01.png'), url('../images/card_02.png'), url('../images/card_03.png');
        background-repeat: no-repeat; background-size: 33px;
        background-position: left 155px top, left 193px top, left 231px top;
    }
    .paymentContainer2 >div:first-of-type form ul{
        margin-top: 15px;
    }
/* ? paymentContainer2 FIN */

    .mysuccessContainer2 h2 >span{
        margin-top: 20px; display: block;
    }
/* ? mysuccessContainer2 FIN */

    .ftDeliveContainer2 >div:first-of-type ul{
        margin-bottom: 45px;
    }
    .ftDeliveContainer2 >div:first-of-type ul li:first-child{
        margin-top: 0;
    }
    .ftDeliveContainer2 >div:first-of-type ul li span{
        flex-basis: 33.33%;
    }
    .ftDeliveContainer2 >div:first-of-type ul li span:not(:first-of-type){
        text-align: right;
    }
    .ftDeliveContainer2 >div:first-of-type ul li span:not(:nth-of-type(2)){
        font-weight: 500;
    }
/* ? ftDeliveContainer2 FIN */

    .ftGeneralContainer2 >div:first-of-type ol li strong{
        display: block; margin: 40px 0 15px;
    }
    .ftGeneralContainer2 >div:first-of-type ol li address{
        line-height: 25px; margin-bottom: 30px;
        color: #9a9a9a;
    }
/* ? ftGeneralContainer2 FIN */


}
/* ? tablet */















@media screen and (min-width:1280px){
    .mainContainer .mainSlider li figure{
        position: relative;
    }
    .mainContainer .mainSlider li figure figcaption{
        position: absolute; top: 110px; left: 140px;
        width: 345px;
    }
    .mainContainer .mainSlider li figure figcaption dl:after{
        content: ''; display: block; clear: both;
    }
    .mainContainer .mainSlider li figure figcaption dl{
        margin-bottom: 35px;
    }
    .mainContainer .mainSlider li figure figcaption dl dt{
        padding-bottom: 20px; margin-bottom: 20px;
        border-bottom: 1px solid #1a1a1a;
    }
    .mainContainer .mainSlider li figure figcaption dl dd:nth-of-type(1){
        float: left;
    }
    .mainContainer .mainSlider li figure figcaption dl dd:nth-of-type(2){
        text-align: right;
    }
    /* ? mainSlider FIN */
    
    .mainContainer .brandSlider{
        padding: 0 90px;
    }
    .mainContainer .brandSlider h2{
        float: left;
    }    
    .mainContainer .brandSlider p{
        text-align: right; padding-bottom: 60px;
    }
    .mainContainer .brandSlider .bx-wrapper{
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }
    .mainContainer .brandSlider ul li{
        position: relative;
    }
    .mainContainer .brandSlider ul li:after{
        content: ''; display: block; clear: both;
    }
    .mainContainer .brandSlider ul li >img{
        float: left; width: 73%; display: block;
        border-right: 1px solid #e8e8e8;
    }
    .mainContainer .brandSlider ul li .productCard{
        float: left; width: calc(27% - 1px);
    }
    .mainContainer .brandSlider ul li .productCard span img{
        border-bottom: 1px solid #e8e8e8;
    }
    .mainContainer .brandSlider ul li .productCard div a{
        position: absolute; bottom: 30px; width: calc(27% - 60px);
    }
    .mainContainer .brandSlider .bx-wrapper .bx-controls-direction a,
    .aboutArea div:last-of-type .bx-wrapper .bx-controls-direction a{
        margin-top: -13px; width: 15px; height: 27px;
        z-index: 1;
    }
    .mainContainer .brandSlider .bx-wrapper .bx-prev,
    .aboutArea div:last-of-type .bx-wrapper .bx-prev{
        background: url('../images/btn_left_02.png') no-repeat center;
        left: -90px;
    }
    .mainContainer .brandSlider .bx-wrapper .bx-next,
    .aboutArea div:last-of-type .bx-wrapper .bx-next{
        background: url('../images/btn_right_02.png') no-repeat center;
        right: -90px;
    }
    .mainContainer .brandSlider .bx-wrapper .bx-pager.bx-default-pager{
        padding-right: 27%; box-sizing: border-box;
    }
    /* ? brandSlider FIN */

    .mainContainer .newContent{
        padding: 120px 0 110px 60px;
        background: url('../images/new_01.jpg') no-repeat center;
    }
    .mainContainer .newContent h2{
        margin-bottom: 15px;
    }
    /* ? newContent FIN */

    
    .mainContainer .bestSlider{
        display: flex; flex-wrap: wrap;
    }
    .mainContainer .bestSlider h2{
        line-height: 55px; padding-bottom: 30px;
        width: 100%;
    }
    .mainContainer .bestSlider .bestTabMenu{
        flex: 1 25%; margin-top: 35px;
    }
    .mainContainer .bestSlider .bestTabMenu li{
        padding: 15px 20px; cursor: pointer;
        max-width: 240px; border: 1px solid #fff;
    }
    .mainContainer .bestSlider .bestTabMenu li.activated{
        color: #1a1a1a; border: 1px solid #1a1a1a;
    }
    .mainContainer .bestSlider .bestTabMenu li:hover{
        color: #1a1a1a;
    }
    .mainContainer .bestSlider .bestTabPage{
        flex: 1 75%; 
    }
    .mainContainer .bestSlider .bestTabPage bx-wrapper ul li{
        width: 33.33%;
    }
    .mainContainer .bestSlider .bestTabPage .productCard b{
        font-size: 12px; font-weight: 700; color: #1a1a1a;
        position: absolute; top: 30px; left: 30px;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-controls-direction a{
        width: 15px; height: 27px;
        z-index: 1; top: -46px;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-prev{
        background: url('../images/btn_left_02.png') no-repeat center;
        left: 95%;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-next{
        background: url('../images/btn_right_02.png') no-repeat center;
        right: 0;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-pager{
        bottom: -15px;
    }
    .mainContainer .bestSlider .bx-wrapper .bx-pager.bx-default-pager .bx-pager-item{
        width: 33%;
    }
    /* ? bestSlider FIN */

    .mainContainer .figuresSlider{
        padding: 100px 0 100px 80px;
        position: relative;
    }
    .mainContainer .figuresSlider:after{
        content: ''; position: absolute; z-index: 1;
        top: 0; left: 0; width: 75%; height: 100%;
        background-color: #faf4e8;
    }
    .mainContainer .figuresSlider .bx-wrapper{
        margin-bottom: 0; z-index: 10;
    }
    .mainContainer .figuresSlider figure figcaption{
        position: absolute; top: 50px; right: 50px;
        text-align: right;
    }
    .mainContainer .figuresSlider figure figcaption dt{
        margin-bottom: 45px;
    }
    .mainContainer .figuresSlider figure figcaption dd:first-of-type{
        margin-bottom: 35px;
    }
    .mainContainer .figuresSlider figure figcaption dd:last-of-type{
        color: #fff;
    }
    .mainContainer .figuresSlider .bx-wrapper .bx-controls-direction a{
        width: 15px; height: 27px;
        z-index: 1; top: -84px;
    }
    .mainContainer .figuresSlider .bx-wrapper .bx-prev{
        background: url('../images/btn_left_02.png') no-repeat center;
        left: 96%;
    }
    .mainContainer .figuresSlider .bx-wrapper .bx-next{
        background: url('../images/btn_right_02.png') no-repeat center;
        right: 0;
    }
    /* ? figuresSlider FIN */

    .mainContainer .myMobileContent{
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }
    .mainContainer .myMobileContent:after{
        content: ''; display: block; clear: both;
    }
    .mainContainer .myMobileContent >div{
        float: left; width: 33.33%;
        box-sizing: border-box;
    }
    .mainContainer .myMobileContent >div:first-of-type{
        border-left: 1px solid #fff;
    }
    .mainContainer .myMobileContent >div:not(:first-of-type){
        border-left: 1px solid #e8e8e8;
    }
    .mainContainer .myMobileContent >div figure img{
        width: 100%;
    }
    .mainContainer .myMobileContent >div figure figcaption{
        padding: 40px;
    }
    .mainContainer .myMobileContent >div figure figcaption p{
        color: #8a8a8a; line-height: 26px;
        margin-top: 20px;
    }
    .mainContainer .myMobileContent >div >ul{
        padding: 40px 40px 0;
        border-top: 1px solid #e8e8e8;
    }
    /* ? myMobileContent FIN */

/* ? index FIN */
    
    .contentArea aside{
        position: sticky; top: 210px; left: 0px;
        width: 15%; height: 0;
        visibility: visible; opacity: 1;
    }
    .contentArea aside nav ul li:not(:last-child){
        margin-bottom: 15px;
    }
    .contentArea aside nav ul li a{
        color: #8e8e8e;
    }
    .contentArea aside nav ul li a.active,
    .contentArea aside nav ul li:hover a{
        color: #1a1a1a;
    }
    .contentArea aside nav ul li a.active::before{
        content: ''; display: inline-block;
        width: 10px; height: 10px; background-color: #000;
        border-radius: 5px; margin-right: 5px;
    }
    .contentArea .productCardList{
        padding-left: 15%; box-sizing: border-box;
        display: flex; flex-wrap: wrap;
    }
    .contentArea .productCardList >li{
        width: 33.33%; display: block;
    }
    .contentArea .productCardList >li span{
        display: block;
    }
    .contentArea .productCardList >li div{
        margin-bottom: 30px;
    }
    .contentArea .productCardList >li div dl dt{
        text-transform: uppercase;
    }
/* ? contentArea FIN */

    .detailArea{
        display: flex; flex-direction: row-reverse;
        gap: 5%;
    }
    .detailArea aside{
        position: sticky; top: 210px;
        width: 33%; align-self: flex-start;
    }
    .detailArea aside h2{
        font-weight: inherit; margin-bottom: 25px;
        text-transform: uppercase;
    }
    .detailArea aside strong{
        margin-bottom: 35px; display: block;
    }
    .detailArea aside .detailTabMenu{
        margin-bottom: 30px;
    }
    .detailArea aside .detailTabMenu:after{
        content: ''; display: block; clear: both;
    }
    .detailArea aside .detailTabMenu li{
        float:left; text-indent: -9999px;
        width: 30px; height: 30px; box-sizing: border-box;
        border: 8px solid #e8e8e8; border-radius: 15px;
        cursor: pointer;
    }
    .detailArea aside .detailTabMenu li.active{
        border: 3px solid #e8e8e8;
    }
    .detailArea aside .detailTabMenu li:not(:first-child){
        margin-left: 10px;
    }
    .detailArea aside span{
        display: block; margin: 50px 0;
        float: left;
    }
    .detailArea aside strong:nth-of-type(2){
        margin: 46px 0; text-align: right;
    }
    .detailArea aside .aBtn:nth-of-type(1){
        margin-bottom: 10px; clear: both;
    }
    .detailArea aside .aBtn:nth-of-type(2){
        margin-bottom: 30px; background-color: #e0dbd1;
    }
    .detailArea aside .aBtn:nth-of-type(2):hover{
        background-color: #d4cfc5;
    }
    .detailArea aside .accComp li{
        border-top: 2px solid #e8e8e8;
    }
    .detailArea aside .accComp li:last-child{
        border-bottom: 2px solid #e8e8e8;
    }
    .detailArea aside .accComp li h3{
        font-weight: inherit; padding: 25px;
        cursor: pointer;
    }
    .detailArea aside .accComp li h3:after{
        content: '+'; display: block; float: right;
    }
    .detailArea aside .accComp li h3~p{
        padding: 20px 30px 20px; line-height: 30px;
        display: none;
    }
    .detailArea aside .accComp li h3.active:after{
        content: '-';
    }
    .detailArea aside .accComp li h3.active~p{
        display: block;
    }
    .detailArea aside .accComp li p:last-child{
        margin-bottom: 25px;
    }
    .detailArea >div{
        max-width: 1040px; width: 62%;
    }
    .detailArea >div img{
        width: 100%;
    }
/* ? detailArea FIN */

    .promotionArea ul li{
        padding: 0 50px; height: 1000px;
        position: relative;
    }
    .promotionArea ul li:nth-of-type(1){
        background: url('../images/promotion_wv.png') no-repeat top right;
    }
    .promotionArea ul li:nth-of-type(2){
        background: url('../images/promotion_fm.png') no-repeat top left;
        text-align: right;
    }
    .promotionArea ul li:nth-of-type(3){
        background: url('../images/promotion_kb.png') no-repeat top right;
    }
    .promotionArea ul li div{
        position: absolute;
        bottom: 20%; opacity: 0;
        transition-property: bottom, opacity;
        transition-duration: 1s;
        transition-timing-function: ease;
    }
    .promotionArea ul li div.scroll{
        bottom: 40%; opacity: 1;
    }
    .promotionArea ul li:nth-of-type(1) div{
        animation-name: startEvent; animation-duration: 1s;
    }
    @keyframes startEvent{
        from{
            bottom: 20%; opacity: 0;
        }to{
            bottom: 40%; opacity: 1;
        }
    }
    .promotionArea ul li:nth-of-type(2) div{
        right: 50px;
    }
    .promotionArea ul li h2{
        padding-top: 330px; margin-bottom: 50px;
    }
    .promotionArea ul li p{
        color: #5a5a5a;
    }
    .promotionArea ul li p:not(:last-of-type){
        margin-bottom: 20px;
    }
    .promotionArea ul li p:last-of-type{
        margin-bottom: 40px;
    }
    .promotionArea ul li .aBtn{
        max-width: 345px;
    }
    .promotionArea ul li:nth-of-type(2) .aBtn{
        margin-left: auto;
    }
/* ? promotionArea FIN */

    .aboutArea{
        background: url('../images/aboutbg.jpg') no-repeat top 162px right;
    }
    .aboutArea h2 img{
        width: 100%; max-width: 136px;
        padding-top: 200px; margin-bottom: 70px;
    }
    .aboutArea div:first-of-type p{
        line-height: 38px; margin-bottom: 35px;
        color: #5a5a5a;
    }
    .aboutArea q{
        display: block; text-align: right;
    }
    .aboutArea >q,
    .aboutArea >p{
        text-transform: uppercase; padding-top: 150px;
        margin-bottom: 25px;
    }
    .aboutArea >img{
        margin-bottom: 190px; width: 100%;
    }
    .aboutArea div:last-of-type{
        text-align: center; margin: 0 auto;
    }
    .aboutArea div:last-of-type h2{
        margin-bottom: 20px;
    }
    .aboutArea div:last-of-type >span{
        display: block; margin-bottom: 40px;
    }
    .aboutArea div:last-of-type figure img{
        margin-bottom: 20px;
    }
    .aboutArea div:last-of-type figure figcaption span{
        display: block; margin-bottom: 20px;
    }
    .aboutArea div:last-of-type .bx-wrapper{
        margin-bottom: 30px;
    }
    .aboutArea div:last-of-type >p{
        max-width: 500px; margin: 0 auto;
        line-height: 25px;
    }
    .aboutArea iframe{
        width: 100%; height: 100vh;
    }
/* ? aboutArea FIN */

    .contactContainer2 div:first-of-type ul+label{
        display: block; line-height: 52px;
    }
    .contactContainer2 div:first-of-type textarea{
        display: block; border: 2px solid #e8e8e8;
        width: 100%; height: 250px; resize: none;
        padding: 20px; font-family: inherit; font-size: inherit;
        box-sizing: border-box;
    }
    .contactContainer2 div:last-of-type >*:not(iframe){
        display: block; text-align: center;
    }
    .contactContainer2 div:last-of-type iframe{
        width: 560px; height: 450px; 
    }
    .contactContainer2 div:last-of-type strong{
        margin-bottom: 20px;
    }
    .contactContainer2 div:last-of-type strong:last-of-type{
        margin-top: 50px;
    }
/* ? contactContainer FIN */

    .findContainer1{
        position: relative;
    }
    .findContainer1 label[for$="Radio"]{
        background-position: left 5px; padding-top: 0;
        position: absolute; bottom: 260px;
    }
    .findContainer1 label[for$="Radio"]:first-of-type{
        left: 0;
    }
    .findContainer1 label[for$="Radio"]:last-of-type{
        left: 95px;
    }
    .findContainer1 >div{
        padding-top: 55px;
    }
    .findContainer1 input:checked+div{
        display: block;
    }
    .findContainer1 input+div{
        display: none;
    }
    .findContainer1 input[id="emailPWRadio"]:checked~label[for="emailPWRadio"],
    .findContainer1 input[id="phonePWRadio"]:checked~label[for="phonePWRadio"]{
        background-image: url('../images/bull_radio_check.png');
    }
/* ? findContainer1 FIN */

    .myordersContainer2 h3::after{
        content: ''; display: block; clear: both;
    }
    .myordersContainer2 h3 span{
        float: right; line-height: 20px;
    }
    [class*='sContainer2'] h3+ul >li:first-child,
    .mycartContainer2 >div:first-of-type >ul >li:first-child{
        border-top: 2px solid #e8e8e8;
        padding: 25px 0;
    }
    [class*='sContainer2'] h3+ul >li,
    .mycartContainer2 >div:first-of-type >ul >li{
        border-bottom: 2px solid #e8e8e8;
    }
    section[class*='my'] .productCard span{
        flex-basis: 240px; margin-bottom: 0;
    }
    section[class*='my'] .productCard div ul{
        margin-bottom: 40px;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div *{
        display: block; text-align: right;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div address{
        color: #9a9a9a;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div span{
        margin: 20px 0 10px; color: #1a1a1a;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div >span{
        margin-bottom: 0;
    }
    [class*='sContainer2'] >div:first-of-type >ul >li >div span strong{
        margin-top: 10px;
    }
/* ? myordersContainer2 FIN */

    #emptyBox >div:last-of-type ul li:last-child{
        padding-bottom: 0;
    }
/* ? mycartContainer2 FIN */

    .paymentContainer2 >div:first-of-type h3{
        background-image: url('../images/card_01.png'), url('../images/card_02.png'), url('../images/card_03.png');
        background-repeat: no-repeat; background-size: 33px;
        background-position: left 155px top, left 193px top, left 231px top;
    }
    .paymentContainer2 >div:first-of-type form ul{
        margin-top: 15px;
    }
/* ? paymentContainer2 FIN */

    .mysuccessContainer2 h2 >span{
        margin-top: 20px; display: block;
    }
/* ? mysuccessContainer2 FIN */

    .ftDeliveContainer2 >div:first-of-type ul{
        margin-bottom: 45px;
    }
    .ftDeliveContainer2 >div:first-of-type ul li:first-child{
        margin-top: 0;
    }
    .ftDeliveContainer2 >div:first-of-type ul li span{
        flex-basis: 33.33%;
    }
    .ftDeliveContainer2 >div:first-of-type ul li span:not(:first-of-type){
        text-align: right;
    }
    .ftDeliveContainer2 >div:first-of-type ul li span:not(:nth-of-type(2)){
        font-weight: 500;
    }
/* ? ftDeliveContainer2 FIN */

    .ftGeneralContainer2 >div:first-of-type ol li strong{
        display: block; margin: 40px 0 15px;
    }
    .ftGeneralContainer2 >div:first-of-type ol li address{
        line-height: 25px; margin-bottom: 30px;
        color: #9a9a9a;
    }
/* ? ftGeneralContainer2 FIN */


}
/* ? desktop */
